<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">MVC Application (Wild Code School)</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" target="_blank" 
        href="https://docs.google.com/presentation/d/14hWE939kyjfw3hiOHr8LDwC08pySiXtsGTKkX8tpxGg/edit?usp=sharing">
        <abbr title="Model-View-Controller Design Pattern">MVC</abbr></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank"
        href="https://onecompiler.com/cheatsheets/ejs-embedded-javascript-templates">
        <abbr title="Embedded Javascript Templates">EJS</abbr></a>
    </li>
  </ul>
</nav>