<!DOCTYPE html >
  <html lang="en">
    <head>
      <%- await include('../partials/head'); %>
    </head>
    <body class="container">

      <header>
        <%- await include('../partials/header'); %>
      </header>

      <main>
        <div class="jumbotron">
          <h1>This is great</h1>
          <p>Welcome to templating using EJS</p>
          <br>
          <%= `<div>Test</div>`  %>
        </div>
      </main>

      <footer>
        <%- await include('../partials/footer'); %>
      </footer>

    </body>
  </html>